div.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    border-bottom: 2px solid #cccccc;
}

div.menu-header {
    display: flex;
    gap: 5px;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
    color: #ff0000;
}

.fa-couch {
    font-size: 40pt;
}

.active {
    text-decoration: none;
}

.open-dropdown {
    position: relative;
}

div.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 5px;
    box-shadow: 2px 2px 2px #cccccc;
    position: absolute;
    top: 60px;
    right: 28px;
}

div.profile-dropdown.hidden {
    display: none;
}

.logout-btn {
    align-self: center;
}

div.profile-dropdown > * {
    margin: 0;
    padding: 2px;
}
